<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Challenge 5</title>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- SIDE BAR -->
    <div class="d-flex ">
        <div class=" bg-blue ">
            <div class="side ">
                <img src="../img/kotak.png" alt="" class="middle">
            </div>
            <div class="list-group list-group-flush  ">
                <div class="bg-blue">
                    <img src="/static/img/home.png" alt="" class="ml-30">
                    <a class="list-group-item bg-blue p-2 bordernone white" href="#!">Dashboard</a>
                </div>
                <div class="bg-blueopa">
                    <img src="/static/img/truck.png" alt="" class=" ml-30 mt-2">
                    <a class="list-group-item bg-blueopa p-2 bordernone white ml-20" href="#!">Cars</a>
                </div>
            </div>
        </div>

        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white " id="sidebar-wrapper">
                <div class="side shadow-sm bg-light "><img src="../img/kotak2.png" alt=""></div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action carsfont bordernone p-3 " href="#!">CARS</a>
                    <a class="list-group-item list-group-item-action fw-bold p-3 mt-3 bg-gray" href="#!">List Car</a>
                </div>
            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
                <div class="container">
                    <button class="btn" id="sidebarToggle"><img src="../img/fi_menu.png" alt=""></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="blue btn-blue fw-bold" style="margin-left: -10px;" type="submit">Search</button>
                    </form>

                    <div class="dropdown">
                        <a href="#"
                            class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/static/img/jaket.jpg" alt="mdo" width="30" height="30"
                                class="rounded-circle mr-10"> Raihan AG
                        </a>
                    </div>
                </div>
            </nav>

            <!--CONTENT CAR LIST -->
            <div class="container  "></br>
                <p class="mt-1"><b> Cars > </b> List Car</p>
                <div class="d-flex justify-content-between ">
                    <h4 class="fw-bold mt-4">List Car</h4>
                    <a href="/car/create"> <button type="submit" class="btn btn-blue2 right">+ Add New Car</button></a>
                </div>

                <div class="d-flex mt-3">
                    <button type="submit" class="btn btn-size me-2 fw-bold"
                        style="border: 1px solid #0D28A6;color: #0D28A6; background-color: #CFD4ED;">All</button>
                    <button type="submit" class="btn btn-size me-2 fw-bold">Small</button>
                    <button type="submit" class="btn btn-size me-2 fw-bold">Medium</button>
                    <button type="submit" class="btn btn-size me-2 fw-bold">Large</button>
                </div>


                <div class="row mt-3">
                    {{#each card_cars}}
                    <div class="col-md-4 col-lg-4 col-sm-12">
                        <div class="card">
                            <img src="{{this.photo}}" class="card-img-top" alt="..." style="width: 100%;padding: 2rem;">
                            <div class="card-body">
                                <p class="card-title">{{this.name}}</p>
                                <h5 class="card-text fw-bold">Rp {{this.price}} /hari</h5>
                                <p class="mt-2"><img src="/static/img/clock.png" alt="">{{this.updatedAt}}</p>
                                <div class="d-flex mt-2 justify-content-between ">
                                    <a href="/car/delete/{{this.id}}" class="btn btn-delete"  data-bs-toggle="modal" data-bs-target="#exampleModal"> <img
                                            src="/static/img/trash.png" alt=""> Delete</a>
                                    <a href="/car/update?id={{this.id}}" type="submit" class="btn btn-edit"
                                        data-bs-toggle="modal" data-bs-target="#exampleModal"> <img
                                            src="/static/img/edit.png" alt=""> Edit</a>
                                </div>

                                <div class="row">
                                    <div class="col">
                                        <!-- Modal -->
                                        <div class="modal fade" id="exampleModal" tabindex="-1"
                                            aria-labelledby="exampleModalLabel" aria-hidden="true">
                                            <div class="modal-dialog modal-dialog-centered">
                                                <div class="modal-content">
                                                    <div class="modal-body text-center">
                                                        <img src="/static/img/cardelete.png" alt="">
                                                        <h5 class="fw-bold">Menghapus Data Mobil</h5>
                                                        <p class="px-5 mx-4" style="font-size: 14px">
                                                            Setelah dihapus, data mobil tidak dapat
                                                            dikembalikan.
                                                            Yakin ingin menghapus?
                                                        </p>
                                                    </div>
                                                    <div class="modal-footer justify-content-center border-top-0">
                                                        <a href="/car/delete/{{this.id}}" class="btn btn-outline-primary button-deny"> Ya</a>
                                                        <button type="button"
                                                            class="btn btn-outline-primary button-deny"
                                                            data-bs-dismiss="modal">
                                                            TIDAK
                                                        </button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    {{/each}}
                </div>
            </div>
        </div>


        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <script src="../js/scripts.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
            crossorigin="anonymous"></script>
</body>

</html>