<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Update Car</title>
    <link href="https://fonts.googleapis.com/css2?family=Titillium+Web:wght@300&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>
    <!-- SIDE BAR -->
    <div class="d-flex ">
        <div class=" bg-blue ">
            <div class="side ">
                <img src="../img/kotak.png" alt="" class="middle">
            </div>
            <div class="list-group list-group-flush  ">
                <div class="bg-blue">
                    <img src="/static/img/home.png" alt="" class="ml-30">
                    <a class="list-group-item bg-blue p-2 bordernone white" href="#!">Dashboard</a>
                </div>
                <div class="bg-blueopa">
                    <img src="/static/img/truck.png" alt="" class=" ml-30 mt-2">
                    <a class="list-group-item bg-blueopa p-2 bordernone white ml-20" href="#!">Cars</a>
                </div>
            </div>
        </div>

        <div class="d-flex" id="wrapper">
            <div class="border-end bg-white " id="sidebar-wrapper">
                <div class="side shadow-sm bg-light "><img src="../img/kotak2.png" alt=""></div>
                <div class="list-group list-group-flush">
                    <a class="list-group-item list-group-item-action carsfont bordernone p-3 " href="#!">CARS</a>
                    <a class="list-group-item list-group-item-action fw-bold p-3 mt-3 bg-gray" href="#!">List Car</a>
                </div>
            </div>
        </div>

        <!-- Page content wrapper-->
        <div id="page-content-wrapper">
            <!-- Top navigation-->
            <nav class="navbar navbar-expand-lg navbar-light bg-light shadow-sm">
                <div class="container">
                    <button class="btn" id="sidebarToggle"><img src="../img/fi_menu.png" alt=""></button>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation"><span
                            class="navbar-toggler-icon"></span></button>
                    <div class="collapse navbar-collapse" id="navbarSupportedContent"></div>
                    <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="blue btn-blue fw-bold" style="margin-left: -10px;" type="submit">Search</button>
                    </form>

                    <div class="dropdown">
                        <a href="#"
                            class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none dropdown-toggle"
                            id="dropdownUser" data-bs-toggle="dropdown" aria-expanded="false">
                            <img src="/static/img/jaket.jpg" alt="mdo" width="30" height="30"
                                class="rounded-circle mr-10"> Raihan AG
                        </a>
                    </div>
                </div>
            </nav>

            <!--CONTENT FORM CREATE -->
            <div class="section purchased">
                <div class="container">
                    <div id="create">
                        <div class="container">
                            <div class="d-flex pt-4">
                                <p class="fw-bold">Cars ></p>
                                <i class="ps-2 bi bi-chevron-right"></i>
                                <p class="ps-2">List Cars ></p>
                                <i class="ps-2 bi bi-chevron-right"></i>
                                <p class="ps-2">Update Car Information</p>
                            </div>
                            <h5 class="fw-bold pt-4">Update Car Information</h5>

                            <form class="bg-white" method="post" action="/car/update/{{id}}">
                                <div class="d-flex pt-4">
                                    <label class="form-label ps-4">Nama</label>
                                    <input type="text" name="name" value="{{name}}" class="form-control w-25" style="margin-left: 100px;"
                                        placeholder="nama mobil">
                                </div>
                                <div class="d-flex pt-4">
                                    <label class="form-label ps-4">Sewa Per Hari</label>
                                    <input type="number" name="price" value="{{price}}" class="form-control w-25 ms-5"
                                        placeholder="Rp 0,-">
                                </div>
                                <div class="d-flex pt-4">
                                    <label class="form-label ps-4">Ukuran Mobil</label>
                                    <input type="text" name="size" value="{{price}}" class="form-control w-25 ms-5">
                                </div>
                                <div class="d-flex pt-4">
                                    <label class="form-label ps-4">Foto</label>
                                    <input type="text" name="photo" value="{{photo}}" class="form-control w-25"
                                        style="margin-left: 115px;" placeholder="https://placeimg.com/640/480/any">
                                </div>
                                <div class="form-text post-image">File size max. 2MB</div>

                                <div  class="d-flex post-save">
                                    <a href="#" class="btn listcar rounded px-3 py-2">Cancel</a>
                                    <button type="submit" class="btn bg-blue text-white rounded px-3 py-2 ms-4">Save</button>
                                </div>

                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
    <script src="../js/scripts.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p"
        crossorigin="anonymous"></script>
</body>

</html>